<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/ico"
            href="{{url_for('static', filename='Python.ico')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css"
            integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.css"
            
            integrity="sha512-OmcLQEy8iGiD7PSm85s06dnR7G7C9C0VqahIPAj/KHk5RpOCmnC6R2ob1oK4/uwYhWa9BF1GC6tzxsC8TIx7Jg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://codemirror.net/theme/ayu-dark.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"
            integrity="sha512-i9pd5Q6ntCp6LwSgAZDzsrsOlE8SN+H5E0T5oumSXWQz5l1Oc4Kb5ZrXASfyjjqtc6Mg6xWbu+ePbbmiEPJlDg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"
            integrity="sha512-uClAZvjjJrwJN8QakX7+03YbWHtx6ZcTw8JoDPucqzviDCYF3QEZNaRXyu1dxdfKm1g/TQ409Ko3CAdb6zXnnA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/hint/show-hint.min.js"
            integrity="sha512-vmnoZMgVSaDE+VzynH2agDhizzixaoa27PqRWpqYXn4XOG/qxB/AFZOaRT/GIUbmVE1Fc/T1HGNiy/whbPz8uQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/closebrackets.min.js"
            integrity="sha512-cCnOU69ESswPmMV3f9TR7WgctoJZliqGbJ8WeLn0VlUrngSsmtVopRf6OG/epbURGfNmY4RY6RzZ/mWkPQ/onw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/matchbrackets.min.js"
            integrity="sha512-03Ei8A+mDhwF6O/CmXM47U4A9L7TobAxMbPV2Wn5cEbY76lngHQRyvvmnqhJ8IthfoxrRqmtoBxQCxOC7AOeKw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                overflow-y: hidden; /* Hide vertical scrollbar */
                overflow-x: hidden; /* Hide horizontal scrollbar */
            }
            .CodeMirror {
                font-size: medium;
                font-family: 'Fira Code', monospace;
            }
        </style>
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #0A0E14;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Python Playground</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/amalshaji/python-playground" tabindex="-1">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input disabled style="background-color: #0A0E14; color: wheat; border-color: #18BC9C;" class="form-control me-2" type="search" placeholder="Snippet ID"
                            aria-label="Search" readonly>
                            <button class="btn btn-outline-success" type="button">
                                <i class="fas fa-copy"></i>
                            </button> &nbsp;
                            <button class="btn btn-outline-success" type="button">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </button>
                        
                    </form>
                    &nbsp;
                    <button class="btn btn-outline-success" style="width: 125px; height: 40px;" type="button"
                        id="run"><i class="fab fa-python"></i></i>
                        Run</button>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>