{% extends 'base.html' %}

{% block title %}Python Playground{% endblock title %}

{% block content %}
<div style="display: flex; height: 94%;">
  <textarea class="form-control" id="editor" style="min-height: 100%;">
{{code}}</textarea>
  <textarea class="form-control" id="result" style="min-height: 100%; background-color: #0d121a; color: wheat; border-top: none; border-right: none; border-left: #18BC9C;"  disabled></textarea>
</div>

<style>
  html,
  body,
  .container {
    height: 100%;
  }
  textarea.form-control {
    height: 100%;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
</style>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    lineNumbers: true,
    language: "python",
    matchBrackets: true,
    autoCloseBrackets: true,
    theme: 'ayu-dark',
  });
  editor.setSize("100%", "100%");

  document.getElementById("run").addEventListener("click", function () {
    document.getElementById("run").innerHTML = "<div class='spinner-border spinner-border-sm'></div>";
    editor.save();
    var code = document.getElementById("editor").value;
    fetch("/api/run", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ code })
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("run").innerHTML = "<i class='fab fa-python'></i> Run";
        document.getElementById("result").value = "Execution Time: " + data.time + "s" + "\n\n" + "Output:\n" + data.result;
      })
      .catch((err) => {
        alert(err);
        document.getElementById("run").innerHTML = "<i class='fab fa-python'></i> Run";
      });
  });

  document.getElementById("save").addEventListener("click", function() {
    editor.save();
    var code = document.getElementById("editor").value;
    fetch("/api/save", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ code })
    })
    .then((res) => res.json())
    .then((data) => {
      document.getElementById("snippet-id").value = data.key;
      copyIdToClipboard();
    })
    .catch((err) => alert(err))
  })

</script>
{% endblock content %}